{% extends 'base-client.html.twig' %}  

{% block title %}O mnie{% endblock %}

{% block stylesheets %}
<link href="{{ asset('CSS/about/about.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}{% endblock %}


{% block body %}

 
    <section class="about">

        <h1>Kilka informacji o mnie!</h1>

        <div class="flexAbout">
            <div class="slice-info">
                <img src="IMG/g.png">
                <p>Student Politechniki Wrocławskiej</p>
            </div>

            <div class="slice-info">
                <img src="IMG/fall.png">
                <p>Miłośnik dłuuugich jesiennych wieczorów</p>
            </div>

            <div class="slice-info">
                <img src="IMG/u.png">
                <p>Małymi cegiełkami ulepszam siebie samego</p>
            </div>

            <div class="slice-info">
                <img src="IMG/s.png">
                <p>Lubię przeglądarkę Internet Explorer</p>
            </div>

             <div class="slice-info">
                <img src="IMG/m.png">
                <p>Harrego Pottera mogę oglądać godzinami!</p>
            </div>

            <div class="slice-info">
                <img src="IMG/gf.png">
                <p>Uwielbiam grupowe wyjazdy!</p>
            </div>

            
            <div class="slice-info">
                <img src="IMG/c.png">
                <p>Każdy utwór ze skrzypcami jest moim ulubionym</p>
            </div>

            <div class="slice-info">
                <img src="IMG/h.png">
                <p>Każdego dnia staram się poświecić 45 minut na treningi</p>
            </div>

             <div class="slice-info">
                <img src="IMG/ha.png">
                <p>Mam urodziny 11 marca</p>
            </div>

             <div class="slice-info">
                <img src="IMG/self.png">
                <p>Nie umiem robić selfie</p>
            </div>

             <div class="slice-info">
                <img src="IMG/beer.png">
                <p>Nie przepadam za alkoholem</p>
            </div>

            <div class="slice-info">
                <img src="IMG/kol.png">
                <p>Lubię stać w kolejce</p>
            </div>

             <div class="slice-info">
                <img src="IMG/bus.png">
                <p>Mam prawo jazdy, ale wolę jeździć autobusem</p>
            </div>
            
             <div class="slice-info">
                <img src="IMG/dog.png">
                <p>Nie lubię psów</p>
            </div>

              <div class="slice-info">
                <img src="IMG/cat.png">
                <p>Uważam, że koty są super!</p>
            </div>

        </div>
       
    </section>
 

{% endblock %}


